<h4 class="title">Get Contact Info</h4>
<form id="modifyMobileForm" class="form-border">
	<div class="form-row">
	<div class="form-group col-md-3">
		<label for="mobile">Mobile</label>
		<input type="number" class="form-control" id="mobile" name="mobile" placeholder="Mobile number. 10 digits only" required>
	</div>
	</div>

	<div class="form-row">
	<div class="form-group col-md-2">
		<button type="submit" id="modifyMobileSubmit" class="btn btn-primary" accesskey="S">SUBMIT</button>
	</div>
	</div>
</form>
